<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="profile.css">
 
</head>
<body>
  <ul class="nav-links">
    <li><a href="#">Easy<span style="color: #8968FF;">Exit</span></a></li>

    <li class="profile-icon" style="color: #8968FF;
    font-size: 35px; margin-left: 87%;"><i class='bx bx-user'></i></li>
    
    <!-- <li class="upward"><a href="#">Services</a></li> -->
    <!-- <li class="forward"><a href="#">Feedback</a></li> -->
  </ul>
  <div class="profile-card">
    <div class="image">
        <!-- add profile image -->
    </div>

    <div class="text-data">
      <span class="name">Shrutika</span>
      <span class="email">Shrutikarathi6@gmail.com</span>
      <span class="prof">Student</span>
    </div>
  </div>
</body>
</html>
